<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.videorentalsrus.dao.VideoDao">
	<resultMap type="Video" id="VideoResultMap">
		<id column="videoId" property="videoId" />
		<result column="title" property="title" />
		<result column="genre" property="genre" />
		<result column="year" property="year" />
		<result column="videoStatus" property="videoStatus" />
		<result column="videoRentalTypeId" property="videoRentalTypeId" />
	</resultMap>
	
	<resultMap type="RentalType" id="RentalTypeResultMap">
		<id column="rentalTypeId" property="rentalTypeId" />
		<result column="name" property="name" />
		<result column="rentalDuration" property="rentalDuration" />
		<result column="rentalFee" property="rentalFee" />
		<result column="dailyLateFee" property="dailyLateFee" />
	</resultMap>
	
	<sql id="videoColumns">
		video.videoId AS videoId,
		video.title AS title,
		video.genre AS genre,
		video.year AS year,
		video.videoStatus AS status,
		video.videoRentalTypeId AS videoRentalTypeId
	</sql>
	
	<sql id="rentalTypeColumns">
		rentalType.rentalTypeId AS typeId,
		rentalType.name AS typeName,
		rentalType.rentalDuration AS rentalDuration,
		rentalType.rentalFee AS rentalFee,
		rentaltType.dailyLateFee AS dailyLateFee
	</sql>
	
	<select id="getVideo" resultMap="VideoResultMap" parameterType="int">
		SELECT <include refid="videoColumns" />
		FROM dbo.videos as video
		WHERE video.videoId = #{videoId}
	</select>
	
	<select id="getAllVideos" resultMap="VideoResultMap">
		SELECT <include refid="videoColumns" />
		FROM dbo.videos as video
	</select>
	
	<select id="getRentalTypes" resultMap="RentalTypeResultMap">
		SELECT <include refid="rentalTypeColumns" />
		FROM dbo.rentalTypes as rentalType
	</select>
	
	<select id="getRentalType" resultMap="RentalTypeResultMap">
		SELECT <include refid="rentalTypeColumns" />
		FROM dbo.rentalTypes as rentalType
		WHERE rentalType.rentalTypeId = #{rentalTypeId}
	</select>
	
	<insert id="insertRentalType" parameterType="RentalType">
		INSERT INTO dbo.rentalTypes(name,rentalDuration,rentalFee,dailyLateFee)
		VALUES(#{name},#{rentalDuration},#{rentalFee},#{dailyLateFee})
	</insert>
	
	<update id="updateRentalType" parameterType="RentalType">
		UPDATE dbo.rentalTypes
			SET name = #{name},
			rentalDuration = #{rentalDuration},
			rentalFee = #{rentalFee},
			dailyLateFee = #{dailyLateFee}
		WHERE rentalTypeId = #{rentalTypeId}
	</update>
	
	<select id="getActiveVideos">
		SELECT <include refid="videoColumns" />
		FROM dbo.videos as video
		WHERE video.videoStatus = 'ACTIVE'
	</select>
	
	<select id="getAvailableVideos">
		SELECT <include refid="videoColumns"/>
		FROM dbo.videos as video
			LEFT JOIN dbo.rentals as rental
			ON video.videoId = rental.rentalVideoID
		WHERE video.videoId NOT IN
			(SELECT <include refid="com.videorentalsrus.dao.RentalDao.rentalColumns"/> 
			 FROM dbo.rentals as rental
			 	JOIN dbo.videos as video
			 	ON rental.rentalVideoId = video.videoId 
			 WHERE rental.returnedDate IS NULL)
	</select>
	
	<select id="findVideosByTitle" resultMap="VideoResultMap">
		SELECT <include refid="videoColumns" />
		FROM dbo.videos as video
		WHERE video.title LIKE '%'|| ${title} ||'%'
		AND video.genre = #{genre}
	</select>
	
	<select id="findVideosByGenre" resultMap="VideoResultMap">
		SELECT <include refid="videoColumns" />
		FROM dbo.videos as video
		WHERE video.genre = #{genre}
	</select>
	
	<select id="findVideosByYear" resultMap="VideoResultMap">
		SELECT <include refid="videoColumns" />
		FROM dbo.videos as video
		WHERE video.year = #{year}
	</select>
	
	<select id="findVideosByRentalType" resultMap="VideoResultMap" parameterType="RentalType">
		SELECT <include refid="videoColumns" />
		FROM dbo.videos as video
			INNER JOIN dbo.rentalTypes as rentalType
			ON video.videoRentalTypeId = rentalType.rentalTypeId
		WHERE rentalType.name = #{rentalTypeName}
	</select>
	
	<insert id="insertVideo" parameterType="Video" useGeneratedKeys="true" keyProperty="videoId">
		INSERT INTO dbo.videos(title,genre,year,videoStatus,videoRentalTypeId)
		VALUES(#{title},#{genre},#{year},#{videoStatus},#{videoRentalTypeId})
	</insert>
	
	<update id="updateVideo" parameterType="Video">
		UPDATE dbo.videos
			SET title = #{title},
			genre = #{genre},
			year = #{year},
			videoStatus = #{videoStatus},
			videoRentalTypeId = #{videoRentalTypeId}
		WHERE videoId = #{videoId}
	</update>
	
	<select id="getRentalHistory" parameterType="Video" resultMap="com.videorentalsrus.dao.RentalDao.RentalResultMap">
		SELECT <include refid="com.videorentalsrus.dao.RentalDao.rentalColumns" />
		FROM dbo.rentals AS rental
		WHERE rental.rentalVideoId = #{videoId}
		ORDER BY rental.rentalDate DESC
	</select>
</mapper>